<div class="jumbotron">

  <h2 style="display: inline-block; margin-right: 10px">Topics
  </h2><a style="display: inline-block; width: 30px" (click)="refreshTopics()">
  <span class="glyphicon glyphicon-refresh"></span>
</a>
  <p>The following table contains the available topics.</p>
  <p>Edit a topic by clicking it from the table: </p>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Available</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let topic of topics" (click)="onSelect(topic)">
      <td>{{topic.name}}</td>
      <td>{{topic.description}}</td>
      <td *ngIf="topic.available == true">
        <button type="button" class="btn btn-success">Available</button>
      </td>
      <td *ngIf="topic.available == false">
        <button type="button" class="btn btn-danger disabled">Not Available</button>
      </td>
    </tr>
    </tbody>
  </table>
  <topic-detail [topic]="selectedTopic"></topic-detail>
  <button type="button" class="btn-primary" routerLink="/addTopic">Add topic</button>
</div>
